@model ReaderInfoViewModel
@{
    ViewData["Title"] = "Info";
}

<div class="row orderForm">
    <h3 class="col-md-offset-2">Reader information</h3>
    <div class="form-group">
        <label asp-for="Reader.Name" class="col-md-2 control-label"></label>
        <p>@Model.Reader.Name</p>
    </div>
    <div class="form-group">
        <label asp-for="Reader.Surname" class="col-md-2 control-label"></label>
        <p>@Model.Reader.Surname</p>
    </div>
    <div class="form-group">
        <label asp-for="Reader.BornDate" class="col-md-2 control-label"></label>
        <p>@Model.Reader.BornDate</p>
    </div>
    <br /><br />
    <h3 class="col-md-offset-2">History</h3>
    <div>
        <table id="tablePost" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>BookTitle</th>
                    <th>BorrowedDate</th>
                    <th>ReturnDate</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.BookHistoryModel)
                {
                    <tr>
                        <td>@item.BookTitle</td>
                        <td>@item.BorrowedDate</td>
                        <td>@item.ReturnDate</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="form-group">
        <div class="btn-group col-md-offset-2 col-md-6">
            <input class="btn btn-default" type="submit" value="Return" asp-controller="Reader" asp-action="List" />
        </div>
    </div>
</div>