@model BookInfoViewModel
@{
    ViewData["Title"] = "Info";

    var borrowStatus = Model.Book.Borrowed ? "Is borrow" : "Is not borrow";
}

<div class="row orderForm">
    <h3 class="col-md-offset-2">Book information. Book is @borrowStatus</h3>
    <h3 class="col-md-offset-2">Author @Model.Author.Name @Model.Author.Surname</h3>
    <div class="form-group">
        <label asp-for="Book.Title" class="col-md-2 control-label"></label>
        <p>@Model.Book.Title</p>
    </div>
    <div class="form-group">
        <label asp-for="Book.Isbn" class="col-md-2 control-label"></label>
        <p>@Model.Book.Isbn</p>
    </div>
    <div class="form-group">
        <label asp-for="Book.BookType" class="col-md-2 control-label"></label>
        <p>@Model.Book.BookType</p>
    </div>
    <div class="form-group">
        <label asp-for="Book.ReleaseDate" class="col-md-2 control-label"></label>
        <p>@Model.Book.ReleaseDate</p>
    </div>

    <br /><br />
    <h3 class="col-md-offset-2">History</h3>
    <div>
        <table id="tablePost" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>ReaderName</th>
                    <th>BorrowedDate</th>
                    <th>ReturnDate</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.BookHistoryModel)
                {
                    <tr>
                        <td>@item.ReaderName</td>
                        <td>@item.BorrowedDate</td>
                        <td>@item.ReturnDate</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="form-group">
        <div class="btn-group col-md-offset-2 col-md-6">
            <input class="btn btn-default" type="submit" value="Return" asp-controller="Book" asp-action="List" />
        </div>
    </div>
</div>